@CHARSET "UTF-8";

body {
	width: 100%;
	height: 100%;
	background: url(../../images/grid.png)
}

.common_header {
	width: 101%;
	height: 140px;
	position: absolute;
	top: 0;
	left: 0
}

.common_header .common_banner {
	width: 100%;
	height: 94px;
	background: url(../../images/banner_bg.png) repeat-x;
	text-align: center
}

.common_header .common_banner .banner {
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto
}

.banner .logo {
	width: 200px;
	float: left;
}

.banner .title {
	font-size: 48px;
	color: #fe8422;
	font-family: "微软雅黑";
	float: left;
	padding-top: 20px;
	margin-left: 20px;
	font-weight: bold;
}

.banner .search {
	width: 250px;
	height: 34px;
	text-align: left;
	float: right;
	margin-top: 45px;
}

.banner .search .search_input {
	width: 185px;
	height: 34px;
	background: url(../../images/search_input.png);
	float: left;
	text-align: right
}

.search_input input {
	width: 170px;
	height: 20px;
	font-family: "微软雅黑";
	border: 0;
	margin-top: 7px
}

.banner .search .search_button {
	width: 40px;
	height: 34px;
	background: url(../../images/search_button.png);
	float: left;
	cursor: pointer;
}

.common_header .common_navi {
	width: 100%;
	height: 46px;
	background: url(../../images/navi.png) repeat-x;
	text-align: center
}

.common_header .common_navi .navi_items {
	width: 1000px;
	height: 98%;
	margin-left: auto;
	margin-right: auto
}

.navi_items .navi_home {
	width: 38px;
	height: 45px;
	background: url(../../images/navi_home.png);
	float: left;
	margin: 0;
	cursor: pointer
}

.navi_items .navi_arrow {
	width: 15px;
	height: 45px;
	background: url(../../images/navi_arrow.png);
	float: left;
	margin: 0
}

.navi_items .navi_item {
	width: 100px;
	height: 45px;
	float: left;
	margin: 0;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 16px;
	line-height: 2.7em;
	text-align: center;
	color: #333;
	cursor: pointer
}

.navi_items .navi_item:hover {
	color: #999;
}

.common_footer {
	width: 101%;
	height: 50px;
	background: url(../../images/banner_bg.png) repeat-x;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	line-height: 3em;
	float:left
}